.PlayerPanel {
  padding-top: 30px;
  text-align: center;
  flex: 1;
}

.PlayerPanel > div {
  margin: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}

.PlayerPanel > div:nth-child(n + 2) {
  height: 35px;
  background-color: rgb(71, 127, 93);
  color: white;
}

.stat-number {
  font-weight: 900;
}
