.App {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(90, 90, 90);
  border-radius: 10px;
  box-shadow: 19px 16px 24px 0px rgba(0, 0, 0, 0.43);
}

.game-body {
  width: 800px;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}
