.Square {
  box-shadow: 0 0 0 3px rgb(70, 70, 70);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 80px;
  font-weight: 900;
  font-family: "Comic Sans Ms";
}

.Square span {
  pointer-events: none;
  user-select: none;
}
